#
# Server Configuration
PORT=5000
NODE_ENV=development
MONGO_URI=

# Security Secrets
JWT_SECRET=super_secret_jwt_key_please_change
JWT_EXPIRE=30d

# DVLA VES API
# Register at https://developer-portal.driver-vehicle-licensing.api.gov.uk/
DVLA_API_KEY=your_dvla_api_key

# Email Configuration (Gmail)
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_google_app_password